/targets/*/*/safe/
/targets/*/*/backdoored/
/targets/*/*/prev-safe/
/targets/*/*/prev-safe-*/
/targets/*/*/builds/
/targets/*/*/baseline-artifacts/
/targets/*/*/baseline-src/
outputs
local_outputs/

__pycache__/
*.pyc
